<div class="help">

	<div class="palm-page-header multi-line">
		<div class="palm-page-header-wrapper">
			<div class="icon"></div>
			<div class="title main">
				<span id="main-title">Preware Homebrew Documentation</span>
				<span class="version" id="version">v0.0.0</span>
			</div>
			<div class="subtitle" id="subTitle">Presented by Rod Whitby and WebOS Internals</div>
		</div>
	</div>
	
<ul>
<li>Thanks to Brandon VanBelle for code contributions.</li>
<li>Thanks to James Harris for content contributions.</li>
</ul>

</div>
