<div class="help">

  <div class="scene-fade-top" x-mojo-scroll-fade="top"></div>
  
  <div class="palm-page-header multi-line">
    <div class="palm-page-header-wrapper">
      <div class="icon" id="icon"></div>
      <div class="title" id="credits-title">Credits</div>
    </div>
  </div>

  <ul>
    <li>Brandon VanBelle (oil) for code contributions.</li>
    <li>James Harris (spdsktr) for content contributions.</li>
    <li>Will Honey (Tibfib) for code contributions.</li>
    <li>Maxine Hammett (JenP) for content contributions.</li>
    <li>Jason Robitaille (JayCanuck) for content contributions.</li>
  </ul>

  <div class="scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>
  
</div>
