<div class="help">

  <div class="scene-fade-top" x-mojo-scroll-fade="top"></div>
  
  <div class="palm-page-header multi-line">
    <div class="palm-page-header-wrapper">
      <div class="icon"></div>
      <div class="title main">
	<span id="main-title">Preware Homebrew Documentation</span>
	<span class="version" id="version">v0.0.0</span>
      </div>
      <div class="subtitle" id="subTitle">Presented by Rod Whitby and WebOS Internals</div>
    </div>
  </div>

  <ul>
    <li>Brandon VanBelle (oil)<br/>for code contributions.</li>
    <li>James Harris (spdsktr)<br/>for content contributions.</li>
    <li>Will Honey (Tibfib)<br/>for code contributions.</li>
  </ul>

  <div class="scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>
  
</div>
