/*
 * Global Styles
 */
.scene-fade-top
{
	position: fixed; 
	top: 0; 
	z-index: 11000;
	height: 30px; 
	width: 100%;
	background: url(../images/palm-default/fade-top.png) top center repeat-x;
	-webkit-palm-mouse-target: ignore;
}
.scene-fade-bottom
{
	position: fixed; 
	bottom: 0; 
	z-index: 11000;
	height: 30px; 
	width: 100%;
	background: url(../images/palm-default/fade-bottom.png) bottom center repeat-x;
	-webkit-palm-mouse-target: ignore;
}
body.palm-dark .scene-fade-top
{
	background: url(../images/palm-dark/fade-top.png) top center repeat-x;
}
body.palm-dark .scene-fade-bottom
{
	background: url(../images/palm-dark/fade-bottom.png) bottom center repeat-x;
}

/*
 * Startup Scene Styles
 */
.startup #data .palm-divider.labeled .label
{
	text-transform: lowercase;
}
.startup #data
{
	font-size: 18px;
}
.startup #data .text
{
	padding-top: 4px;
	padding-left: 17px;
	padding-right: 15px;
	padding-bottom: 10px;
}
.startup #data ul
{
	margin: 0px;
	padding-left: 37px;
	padding-right: 15px;
	padding-bottom: 10px;
}
.startup #data ul.changelog
{
	font-size: 15px;
}

/*
 * Main Scene Styles
 */
.main .palm-page-header-wrapper .icon
{
	width: 76px;
	height: 75px;
	background: url(../icon.png) center center no-repeat !important;
}
.main .palm-page-header-wrapper .title
{
	padding-left: 80px;
}
.main .palm-page-header-wrapper .title.main
{
	font-size: 24px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.main .palm-page-header-wrapper .title .version
{
	font-size: 12px;
	color: #888;
	text-transform: lowercase;
}
.main .palm-page-header-wrapper .subtitle
{
	font-size: 14px;
	padding-top: 0px;
	margin-top: 0px;
}

/*
 * Topic Scene Styles
 */
.topic #topic-log-title
{
	float: left;
	display: block;
	width: 150px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.topic #popButton
{
	position: absolute;
	right: -16px;
	bottom: 7px;
	height: 35px;
	width: 38px;
	border-width: 0px 16px 0px 16px;
	-webkit-box-sizing: border-box;
	-webkit-border-image: url(../images/header-button-press.png);
	-webkit-border-image: url(../images/header-button.png) 0 16 0 16 stretch stretch;
}
.topic #popButton.selected
{
	-webkit-border-image: url(../images/header-button-press.png) 0 16 0 16 stretch stretch;
}
.topic #popButton .icon
{
	margin: 0px;
	padding: 0px;
	margin-top: 5px;
	margin-left: -8px;
	width: 21px;
	height: 23px;
	background: url(../images/pop-icon.png) center center no-repeat;
}

/*
 * Help Scene Styles
 */
.help .list_scene
{
	position:relative;
	left:48px;
	top:10px;
	width:32px; 
	height:32px;
	vertical-align:bottom;
	padding: 0px 0px 0px 5px;
	float:left;
}
.help .img_web
{
	position:relative;
	left:8px;
	top:10px;
	width:32px; 
	height:32px;
	background: url(../images/help/application-web.png) no-repeat  bottom;
	padding: 0px 0px 0px 5px;
	float:left;
}
.help .img_email
{
	position:relative;
	left:8px;
	top:10px;
	width:32px; 
	height:32px;
	background: url(../images/help/application-email.png) no-repeat bottom;
	vertical-align:bottom;
	padding: 0px 0px 0px 5px;
	float:left;
}
.help .img_changelog
{
	position:relative;
	left:8px;
	top:10px;
	width:32px; 
	height:32px;
	background: url(../images/help/scene-changelog.png) no-repeat  bottom;
	padding: 0px 0px 0px 5px;
	float:left;
}
