/*
 * Global Styles
 */
.scene-fade-top
{
	position: fixed; 
	top: 0; 
	z-index: 11000;
	height: 30px; 
	width: 100%;
	background: url(../images/palm-default/fade-top.png) top center repeat-x;
	-webkit-palm-mouse-target: ignore;
}
.scene-fade-bottom
{
	position: fixed; 
	bottom: 0; 
	z-index: 11000;
	height: 30px; 
	width: 100%;
	background: url(../images/palm-default/fade-bottom.png) bottom center repeat-x;
	-webkit-palm-mouse-target: ignore;
}
body.palm-dark .scene-fade-top
{
	background: url(../images/palm-dark/fade-top.png) top center repeat-x;
}
body.palm-dark .scene-fade-bottom
{
	background: url(../images/palm-dark/fade-bottom.png) bottom center repeat-x;
}


/*
 * Startup Scene Styles
 */
.startup #data .palm-divider.labeled .label
{
	text-transform: lowercase;
}
.startup #data
{
	font-size: 18px;
}
.startup #data .text
{
	padding-top: 4px;
	padding-left: 17px;
	padding-right: 15px;
	padding-bottom: 10px;
}
.startup #data ul
{
	margin: 0px;
	padding-left: 37px;
	padding-right: 15px;
	padding-bottom: 10px;
}
.startup #data ul.changelog
{
	font-size: 15px;
}



/*
 * Main Scene Styles
 */
.main .palm-page-header-wrapper .icon
{
	width: 76px;
	height: 75px;
	background: url(../icon.png) center center no-repeat;
}
.main .palm-page-header-wrapper .title
{
	padding-left: 80px;
}
.main .palm-page-header-wrapper .title.main
{
	font-size: 24px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.main .palm-page-header-wrapper .title .version
{
	font-size: 12px;
	color: #888;
	text-transform: lowercase;
}
.main .palm-page-header-wrapper .subtitle
{
	font-size: 14px;
	padding-top: 0px;
	margin-top: 0px;
}


/*
 * Topic Scene Styles
 */
.topic #topic-log-title
{
	float: left;
	display: block;
	width: 150px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.topic #popButton
{
	position: absolute;
	right: -16px;
	bottom: 7px;
	height: 35px;
	width: 38px;
	border-width: 0px 16px 0px 16px;
	-webkit-box-sizing: border-box;
	-webkit-border-image: url(../images/header-button-press.png);
	-webkit-border-image: url(../images/header-button.png) 0 16 0 16 stretch stretch;
}
.topic #popButton.selected
{
	-webkit-border-image: url(../images/header-button-press.png) 0 16 0 16 stretch stretch;
}
.topic #popButton .icon
{
	margin: 0px;
	padding: 0px;
	margin-top: 5px;
	margin-left: -8px;
	width: 21px;
	height: 23px;
	background: url(../images/pop-icon.png) center center no-repeat;
}

/*
 * Generic Log Styles
 */
.log .log-messages .palm-row
{
	min-height: 0px;
}
.log .log-messages .palm-row.lostFocus
{
	background-repeat: repeat-x;
	background-image: url(../images/palm-default/palm-divider.png);
	padding-bottom: 7px;
	/*margin-bottom: -2px;*/
}
body.palm-dark .log .log-messages .palm-row.lostFocus
{
	background-image: url(../images/palm-dark/palm-divider.png);
}
.log .log-messages .palm-row.selected.lostFocus,
body.palm-dark .log .log-messages .palm-row.selected.lostFocus
{
	background-image: none;
}
.log .log-messages .palm-row-wrapper
{
	position: relative;
	padding-top: 8px;
	padding-bottom: 11px;
	background-repeat: repeat-y;
	background-position: right;
}
.log .log-messages .palm-row.lostFocus .palm-row-wrapper
{
	padding-bottom: 8px;
}
.log .log-messages .type
{
	float: left;
	font-weight: bold;
	font-size: 13px;
	padding-left: 20px;
	background-repeat: no-repeat;
	background-position-x: 7px;
	background-position-y: 4px;
}
.log .log-messages .date
{
	/* im still not happy with this... */
	display: none;
	
	
	position: absolute;
	font-weight: bold;
	top: -5px;
	right: 6px;
	/*left: 7px;*/
	font-size: 10px;
	color: #666;
	-webkit-border-image: url(../images/palm-default/line-bubble.png) 6 6 6 6 stretch stretch;
	line-height: 1px;
	padding-top: 1px;
	padding-right: 2px;
	padding-left: 2px;
	height: 4px;
}
body.palm-dark .log .log-messages .date
{
	color: #ccc;
	-webkit-border-image: url(../images/palm-dark/line-bubble.png) 6 6 6 6 stretch stretch;
}
.log .log-messages .message
{
	clear: both;
	font-size: 14px;
	padding-left: 7px;
	padding-right: 7px;
	word-wrap: break-word !important;
}
.log .log-messages .app
{
	display: none;
}
.log .log-messages .palm-row.selected .type,
.log .log-messages .palm-row.selected .message,
body.palm-default .log .log-messages .palm-row.selected .app
{
	color: #fff;
}
.log .log-messages .showapp .app
{
	display: block;
	float: right;
	font-size: 13px;
	padding-right: 8px;
	color: #666;
	margin-top: -1px;
}
body.palm-dark .log .log-messages .showapp .app
{
	color: #ccc;
}
.log .log-messages .none .type				{ display: none; }
.log .log-messages .info .type,
.log .log-messages .debug .type,
.log .log-messages .notice .type			{ color: #3473e7; background-image: url(../images/log-info-icon.png);	}
.log .log-messages .alert .type,
.log .log-messages .warning .type			{ color: #ffa202; background-image: url(../images/log-warning-icon.png);}
.log .log-messages .err .type,
.log .log-messages .crit .type				{ color: #f10000; background-image: url(../images/log-error-icon.png);	}
.log .log-messages .palm-row-wrapper.info,
.log .log-messages .palm-row-wrapper.debug,
.log .log-messages .palm-row-wrapper.notice	{ background-image: url(../images/log-info-bg.png);		}
.log .log-messages .palm-row-wrapper.alert,
.log .log-messages .palm-row-wrapper.warning{ background-image: url(../images/log-warning-bg.png);	}
.log .log-messages .palm-row-wrapper.err,
.log .log-messages .palm-row-wrapper.crit	{ background-image: url(../images/log-error-bg.png);	}





/*
 * Generic Form Styles
 */
.form .palm-row-wrapper .note
{
	clear: both;
	padding-left: 10px;
	font-style: italic;
}
.form .palm-row-wrapper .label.left
{
	padding-left: 6px;
	-webkit-palm-mouse-target: ignore;
}
.form .palm-list-selector .label
{
	float: left;
}
.form .palm-list-selector .title
{
	text-align: right;
}
.form .palm-group.disabled
{
	opacity: 0.35;
}
.form .palm-row .title.right .unit
{
	float: right;
	padding-left: 8px;
	padding-top: 4px;
	text-align: left;
	color: #aaa;
	font-size: 16px;
}



/*
 * Help Scene Styles
 */

/*
 * Help Scene Styles
 */
.help .palm-page-header-wrapper .icon
{
	width: 76px;
	height: 75px;
	background: url(../icon.png) center center no-repeat;
}
.help .palm-page-header-wrapper .title
{
	padding-left: 80px;
}
.help .palm-page-header-wrapper .title.main
{
	font-size: 24px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.help .palm-page-header-wrapper .title .version
{
	font-size: 12px;
	color: #888;
	text-transform: lowercase;
}
.help .palm-page-header-wrapper .subtitle
{
	font-size: 14px;
	padding-top: 0px;
	margin-top: 0px;
}
.help .list_scene
{
	position:relative;
	left:48px;
	top:10px;
	width:32px; 
	height:32px;
	vertical-align:bottom;
	padding: 0px 0px 0px 5px;
	float:left;
}
.help .img_web
{
	position:relative;
	left:8px;
	top:10px;
	width:32px; 
	height:32px;
	background: url(../images/help/application-web.png) no-repeat  bottom;
	padding: 0px 0px 0px 5px;
	float:left;
}
.help .img_email
{
	position:relative;
	left:8px;
	top:10px;
	width:32px; 
	height:32px;
	background: url(../images/help/application-email.png) no-repeat bottom;
	vertical-align:bottom;
	padding: 0px 0px 0px 5px;
	float:left;
}
.help .img_changelog
{
	position:relative;
	left:8px;
	top:10px;
	width:32px; 
	height:32px;
	background: url(../images/help/scene-changelog.png) no-repeat  bottom;
	padding: 0px 0px 0px 5px;
	float:left;
}
